.bar {
    position: fixed;
    bottom: 10px;
    left: 15px;
    right: 235px;
    height: 90px;
    background: white;
    -webkit-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    .details {
        background-color: black;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: white;
        height: 40px;
        border-bottom: 2px solid red;
    }
    .img {
        float: right;
    }
    .time {
        float: left;
        line-height: 30px;
    }
    .description {
        // float: right;
        // line-height: 40px;
        // margin-left: 20px;
        // max-width: 250px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    @media only screen and (max-width:500px) {
        .description {
            width: 70px;
            overflow: hidden;
        }
    }
    .clear {
        clear: both;
    }
}

input[type="range"] {
    height: 0.6rem;
    -webkit-appearance: none;
    // width: 100%;
}


/*progress support*/

input[type="range"].slider-progress {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 0.9em + var(--ratio) * (100% - 0.9em));
}

input[type="range"]:focus {
    outline: none;
}


/*webkit*/

input[type="range"]::-webkit-slider-thumb {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #F2C94C;
    border: 1px solid #333;
    margin-top: -2px;
    -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 0.22em;
    border-radius: 0.5em;
    background: #efefef;
    box-shadow: none;
}

input[type="range"].slider-progress::-webkit-slider-runnable-track {
    background: linear-gradient(#333, #333) 0 / var(--sx) 100% no-repeat, #efefef;
}


/*mozilla*/

input[type="range"]::-moz-range-thumb {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #F2C94C;
    border: 1px solid #333;
    margin-top: -2px;
}

input[type="range"]::-moz-range-track {
    height: max(calc(1em - 1px - 1px), 0px);
    border-radius: 0.5em;
    background: #efefef;
    border: 1px solid #b2b2b2;
    box-shadow: none;
}

input[type="range"].slider-progress::-moz-range-track {
    background: linear-gradient(#333, #333) 0 / var(--sx) 100% no-repeat, #efefef;
}

button {
    outline: none !important;
    border: none !important;
    background: none !important;
}