<section class="top p-4">
    <div class="">
        <input type="search" placeholder="جستجو ... " name="searchKey" [(ngModel)]="searchKey" (ngModelChange)="doSearch($event)">
    </div>
</section>

<section class="top-area py-4" *ngIf="!isWait">
    <div class="container">
        <div class="row">
            <h2 class="mb-3">دسته بندی ها</h2>
            <div class="col-md-12">
                <swiper [slidesPerView]="5" [spaceBetween]="15">
                    <ng-container *ngFor="let item of suggestedPlayLists;trackBy: coverTrackByFn;">
                        <ng-template swiperSlide>
                            <div class="box">
                                <div class="box-img">
                                    <img src="{{ item?.cover ||'../../../assets/imgs/sample.jpg'}}" class="card-img" alt="{{item.title}}">
                                </div>
                                <div class="box-info">
                                    <div class="box-links">
                                        <a [routerLink]="['/category', item.id]">{{item.title}}</a>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ng-container>
                </swiper>
            </div>
        </div>
    </div>
</section>

<section class="p-5 text-center" *ngIf="isWait">
    <img src="../../../assets/imgs/1487.gif" class="loading p-md-5">
</section>
<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>جدید ترین آهنگ ها</h2>
                <table class="table">
                    <tbody>
                        <tr *ngFor="let item of newerMusicData;trackBy: musicTrackByFn; let i = index">
                            <td>
                                <p class="mt-2 mt-md-4">{{i+1}}</p>
                            </td>
                            <td><img (click)="sendData(item)" class="mt-1 item-img" src="{{item.cover}}" alt="{{item.title}}">
                            </td>
                            <td>
                                <p (click)="sendData(item)" class="mt-2 mt-md-1 item-title">{{item.title}}</p>
                                <p (click)="sendData(item)" class="mb-1">{{item.artistName}}</p>
                            </td>
                            <td>
                                <p class="mt-2 mt-md-4">{{item.durationStr}}</p>
                            </td>
                            <td>
                                <p class="mt-2  mt-md-4">
                                    {{item.like}} لایک</p>
                            </td>
                            <td>
                                <a href="{{item.shareLink}}" target="_blank"><span class="mt-2 mt-md-4 material-icons">share</span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>