.card-table {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
}

th {
    font-size: 15px;
}

td {
    margin-top: 25px;
    font-size: 13px;
}

.item-description {
    font-size: 11px;
}

li {
    font-size: 1rem;
    list-style: none;
}

li span {
    float: left;
}

.item-img {
    width: 55px;
    border-radius: 10px;
}

@media only screen and (max-width: 480px) {
    .item-img {
        width: 35px;
    }
    table th {
        font-size: 0.75rem;
    }
    table td p,
    table td .ng-star-inserted {
        font-size: 0.65rem;
    }
}

h2 {
    font-size: 1.2rem !important;
}

.top {
    background-color: #f8f9fa;
    background-image: linear-gradient(62deg, #f8f9fa 0%, #E0C3FC 100%);
    input {
        width: 100%;
        height: 50px;
        outline: none !important;
        border: none;
        border-radius: 10px;
        padding: 10px;
        font-size: 0.9rem;
        opacity: 0.9;
        &:focus {
            outline: none !important;
        }
        &::placeholder {
            font-size: 0.8rem;
            opacity: .5;
        }
    }
}

.loading {
    width: 20px;
}

.like-count {
    color: red;
}