.navbar {
    display: none;
    height: 5rem;
    background: #161616;
    span {
        color: #fff;
        font-size: 1.4rem;
        transition: all 300ms ease;
        &:hover {
            color: #ffc20f;
            cursor: pointer;
        }
    }
}

#menu-btn,
#close-btn {
    display: none;
}

aside {
    position: fixed;
    width: 240px;
    top: 0px;
    bottom: 0px;
    right: 0;
    background-color: #F8F9FA;
}

button {
    border: none;
    background: transparent;
}

aside .sidebar a {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    height: 3.2rem;
    color: gray;
    position: relative;
    text-decoration: none;
}

aside .sidebar a span {
    font-size: 1.2rem;
    margin-right: 1rem;
    transition: all 300ms ease;
}

aside .sidebar a.active {
    background: white;
    color: #7380ec;
}

aside .sidebar a.active:before {
    content: "";
    width: 3px;
    height: 100%;
    position: absolute;
    background: #7380ec;
}

aside .sidebar a:hover {
    color: #7380ec;
}

aside .sidebar a:hover span {
    margin-right: 1.5rem;
}

aside .sidebar h4 {
    font-weight: 500;
    font-size: 1.1rem;
    margin-right: 0.5rem;
}

aside p {
    font-size: 0.9rem;
}

@media screen and (max-width: 767px) {
    .navbar {
        display: block;
    }
    aside {
        position: absolute;
        right: 0;
        bottom: 0;
        padding-top: 2rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        background: #161616;
        width: 300px;
        span {
            color: #fff;
            font-size: 1.4rem;
            transition: all 300ms ease;
            &:hover {
                color: #ffc20f;
                cursor: pointer;
            }
        }
    }
    #menu-btn,
    #close-btn {
        display: block;
    }
}

.logo img {
    width: 120px;
}

.logo {
    text-align: center;
}