.navbar {
    display: none;
    height: 5rem;
    background: #161616;
    span {
        color: #fff;
        font-size: 1.4rem;
        transition: all 300ms ease;
        &:hover {
            color: #ffc20f;
            cursor: pointer;
        }
    }
}

#menu-btn,
#close-btn {
    display: none;
}

aside {
    position: fixed;
    width: 220px;
    top: 0px;
    bottom: 0px;
    right: 0;
    background-color: #F8F9FA;
    box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

button {
    border: none;
    background: transparent;
}

aside .sidebar a {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    height: 3.2rem;
    color: gray;
    position: relative;
    text-decoration: none;
}

aside .sidebar a span {
    font-size: 1.2rem;
    margin-right: 1rem;
    transition: all 300ms ease;
}

aside .sidebar a.active {
    background: white;
    color: #7380ec;
}

aside .sidebar a.active:before {
    content: "";
    width: 3px;
    height: 100%;
    position: absolute;
    background: #7380ec;
}

aside .sidebar a:hover {
    color: #7380ec;
    cursor: pointer;
}

aside .sidebar a:hover span {
    margin-right: 1.5rem;
}

aside .sidebar h4 {
    font-weight: 500;
    font-size: 1.1rem;
    margin-right: 0.5rem;
}

aside p {
    font-size: 0.9rem;
}

@media screen and (max-width: 767px) {
    .navbar {
        display: block;
    }
    aside {
        position: absolute;
        right: 0;
        bottom: 0;
        padding-top: 2rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        background: #161616;
        width: 300px;
        span {
            color: #fff;
            font-size: 1.4rem;
            transition: all 300ms ease;
            &:hover {
                color: #ffc20f;
                cursor: pointer;
            }
        }
    }
    #menu-btn,
    #close-btn {
        display: block;
    }
}

.logo img {
    width: 120px;
}

.logo {
    text-align: center;
}

.bottom-navbar {
    display: none;
}

@media screen and (max-width:768px) {
    .bottom-navbar {
        height: 60px;
        box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
        background-color: #fff;
        overflow: hidden;
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: row !important;
        justify-content: space-around;
        align-items: center;
        padding: 0 2rem;
    }
    /* Style the links inside the navigation bar */
    .bottom-navbar a {
        color: #333;
        text-align: center;
        text-decoration: none;
        font-size: 1rem;
        margin-top: 0.5rem !important;
        transition: all 300ms ease;
    }
    .bottom-navbar a.active,
    .bottom-navbar a:hover {
        // background-color: #04AA6D;
        cursor: pointer;
        color: #7380ec;
        margin-bottom: 5px;
        filter: drop-shadow(0 0 0.75rem #7380ec);
    }
}