<aside>
    <div class="top">
        <div class="logo">
            <img src="assets/imgs/logo.png" />
        </div>
    </div>
    <div class="sidebar">
        <h4 class="mt-5">منوی اصلی</h4>
        <a [routerLink]="['/']" routerLinkActive="active">
            <span class="material-icons">home</span>
            <p class="mb-0">خانه</p>
        </a>
        <a href="#">
            <span class="material-icons">mic</span>
            <p class="mb-0">هنرمندان</p>
        </a>
        <a href="#">
            <span class="material-icons">music_note</span>
            <p class="mb-0">پلی لیست ها</p>
        </a>

        <hr>

        <h4>موسیقی من</h4>
        <a href="#">
            <span class="material-icons">favorite</span>
            <p class="mb-0">مورد علاقه</p>
        </a>

        <a href="#">
            <span class="material-icons">follow_the_signs</span>
            <p class="mb-0">دنبال شده</p>
        </a>
        <a href="#">
            <span class="material-icons">settings</span>
            <p class="mb-0">تنظیمات</p>
        </a>
    </div>
</aside>

<div class="bottom-navbar">
    <a href="#">
        <span class="material-icons">favorite</span>
    </a>
    <a href="#">
        <span class="material-icons">settings</span>
    </a>
    <a [routerLink]="['/']" routerLinkActive="active">
        <span class="material-icons">home</span>
    </a>
    <a href="#">
        <span class="material-icons">mic</span>
    </a>
    <a href="#">
        <span class="material-icons">music_note</span>
    </a>
</div>