@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
@font-face {
    font-family: irsans;
    src: url(assets/fonts/IRANSansWebMedium.woff2);
}

body {
    font-family: 'irsans', cursive;
}

input[type=range] {
    direction: ltr !important;
}

button:hover,
button:active,
button:focus {
    outline: none !important;
}

 ::-webkit-scrollbar {
    width: 5px;
    height: 0;
}

::-webkit-scrollbar-thumb {
    background: #676767;
}

::-webkit-scrollbar-track {
    background: #fff;
}

.vjs-control-bar {
    opacity: 1 !important;
}

.video-js .vjs-control-bar {
    background: transparent !important;
}

.vjs-picture-in-picture-control .vjs-icon-placeholder,
.vjs-fullscreen-control .vjs-icon-placeholder {
    display: none !important;
}

.video-js .vjs-play-progress,
.video-js .vjs-volume-level {
    background: #7380ec !important;
}

.video-js .vjs-picture-in-picture-control,
.video-js .vjs-fullscreen-control {
    display: none !important;
}

.vjs-big-play-button {
    display: none !important;
}